# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you"ll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you"re sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 35e53feff1b52d35bad8780fea48b7dbda39ad4642e17517adf50265890f299b008898905ee774c2736c42d6693b22d44e12c285c01a23ca3ed34219ff09a7ca

test:
  secret_key_base: 5fa328dd371aa33fa82f8ce2fcc38e011a6f5a1565e24420b694c4b5ac7a528d3fc556f6b3fb7fd0c698981bc3e7e14bcdcb954bc9c8e3a7d3712923e7b7c413

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
