$color-white: #fff;
$color-emerald: #5fcf80;

.section-padding {
  height: 87vh;

  .container {
    height: 100%;

    .row {
      height: 100%;
    }
  }
}

.col-md-4 {
  height: 50%;
  margin-top: 15px;

  .imghvr-fold-up {
    height: 100%;
  }
}

.col-sm-6 {
  height: 50%;
  margin-top: 15px;

  .imghvr-fold-up {
    height: 100%;
  }
}

.img-responsive {
  height: 100%;
  object-fit: cover;
}

[class*=" imghvr-"] {
  background-color: $color-emerald;
  color: $color-white;

  figcaption {
    background-color: $color-emerald;
    height: 50%;
  }
}

[class^="imghvr-"] {
  background-color: $color-emerald;
  color: $color-white;

  figcaption {
    background-color: $color-emerald;
    height: 50%;
  }
}
