$color-white: #fff;
$color-emerald: #5fcf80;
$color-alto: #d9d9d9;

.section-padding {
  height: 87vh;

  .container {
    height: 100%;

    .row {
      height: 100%;
    }
  }
}

.col-md-4 {
  height: 50%;
  margin-top: 15px;

  .imghvr-fold-up {
    height: 100%;
  }
}

.col-sm-6 {
  height: 50%;
  margin-top: 15px;

  .imghvr-fold-up {
    height: 100%;
  }
}

.img-responsive {
  height: 100%;
  object-fit: cover;
}

[class*=" imghvr-"] {
  background-color: $color-emerald;
  color: $color-white;

  figcaption {
    background-color: $color-emerald;
    height: 50%;
  }
}

[class^="imghvr-"] {
  background-color: $color-emerald;
  color: $color-white;

  figcaption {
    background-color: $color-emerald;
    height: 50%;
  }
}

hr {
  border-style: inset;
  border-width: 1px;
  display: block;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
}

.round-image-50 {
  background-color: $color-white;
  border: 1px solid $color-alto;
  border-radius: 25px;
  height: 50px;
  overflow: hidden;
  text-align: center;
  width: 50px;

  img {
    width: 100%;
  }
}

.col-sm-8 {
  margin-top: 15px;
}
